.contact_form {
  padding: 15px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);

  & h4 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  & p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
  }

  & .email {
    color: $orange;
  }
}


@media (max-width: 480px) {
  .contact_form {
    font-size: 15px;
  }

}
